<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="fullscreen=yes,preventMove=no" name="ML-Config">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<title>移动端</title>
	<style>
		@-ms-viewport { width:device-width; }
		@media only screen and (min-device-width:800px) { html { overflow:hidden; } }
		html { height:100%; }
		body { height:100%; overflow:hidden; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; background-color:#000000; }
	</style>
	<link rel="stylesheet" type="text/css" href="css/swiper.css"/>
	<link rel="stylesheet" type="text/css" href="css/msite.css"/>
	<script type="text/javascript">
		function test(name){
			console.log(name);
		}
	</script>
</head>

<body class="mobile">
<div id="loading">
    <div class="img-info">
         <img class="logo" src="css/img/logo.png" alt="logo"> 
    </div>
    <p class="loading-text">努力加载中…</p>
    <picture>
        <source type="image/webp" srcset="css/img/bg.jpg@70q.webp">
        <img class="background" src="css/img/bg.jpg@70q.webp">
    </picture>
</div>
<!--人气-->
<div class="left-top-area">
	<div class="logos kjl-logos">
	    <img src="img/ku_num.png">
	</div>
    <div class="view-count">
        人气：<span class="count">1027</span>
    </div>
</div>
<!--底部导航-->
<div class="menu-bar pano-ele simple">
    <div class="current-room menu-btn-guide">
        <i class="anchor sprite"></i>
        <span class="room-name">客餐厅</span>
    </div>
    <a class="user ell" href="javascript:;" data-href="https://www.kujiale.com/m/pro/3FO4K8C43RMA">
        <img class="avatar" src="https://qhyxpicoss.kujiale.com/avatars/2017/01/14/origin397220154918609795.jpg" alt="李青越">李青越
    </a>
    <div class="contact">
        
        
    </div>
    <ul class="btn-list">
        <li class="btn-item menu-btn-rooms">房间</li>
        <!--<li class="btn-item menu-btn-replace hide">替换</li>-->
        <li class="btn-item menu-btn-prod">商品</li>
        
    </ul>
</div>
<!--全屏-->
<div class="menu-bar-fullscreen pano-ele simple">
    <a class="user ell" target="_blank" href="https://www.kujiale.com/m/pro/3FO4K8C43RMA">
                <img class="avatar" src="https://qhyxpicoss.kujiale.com/avatars/2017/01/14/origin397220154918609795.jpg" alt="李青越">李青越
            </a>
    <a class="exit-fullscreen" href="javascript:;">退出全屏</a>
</div>
<!--左上角小图标-->
<div class="side-menu pano-ele">
                
    <a class="btn-item menu-btn-profile-with-setting sprite"></a>
    
    <a class="btn-item menu-btn-music sprite active"></a>
    <a class="btn-item menu-btn-vr sprite"></a>
    
</div>

<!--商品列表-->
<div class="shop-list">
	<div class="swiper-container" id="swiperGoodsList">
	    <!--<div class="swiper-wrapper">
	        <div class="swiper-slide" data-id="101">
	        	<div class="shop-img"><img src="img/shop.jpg"/></div>
	        	<div class="shop-foot">
	        		<div class="logo"></div>
	        		<p class="shop-title ell">参考商品</p>
	        	</div>
	        	
	        </div>

	    </div>-->
	    <!-- Add Pagination -->
	    <!--<div class="swiper-pagination"></div>-->
	</div>
	
</div>

<!--方案介绍-->
<div class="fang-jie">
	<div class="tab">
		<ul>
			<li class="tab-li active"><a >方案介绍</a></li>
			<li class="tab-li"><a >设置</a></li>
		</ul>
	</div>
	<div class="swip">
		<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">
	            	<p class="desc">该案是集成整装，现代简约风格。现代风格家居装修装饰装潢设计理念：现代风格外形简洁、功能强，强调室内空间形态和物检的单一性、抽象性。无疑,现代简约风格的装修风格迎合了年轻人的喜爱,都市忙碌生活,早已经让我们烦腻了花天酒地,灯红酒绿,我们更喜欢的一个安静,祥和,看上去明朗宽敞舒适的家,来消除工作的疲惫,忘却都市的喧闹。这也是现在流行的装修风格之一:现代简约风格。</p>
	            </div>
	            <div class="swiper-slide">
	            	<div class="slide-setting">
	            		<div class="gyro-setting setting-item">
	                        <p><i class="icon icon-gyro sprite"></i>陀螺仪</p>
	                        <div class="switch-wp"><div class="switch"></div></div>
	                    </div>
	                    
	                    <div class="commodity-hotspot-setting setting-item">
	                        <p><i class="icon icon-commodity-hotspot sprite"></i>商品</p>
	                        <div class="switch-wp"><div class="switch"></div></div>
	                    </div>
	                    
	                    <!--<div class="text-hotspot-setting setting-item">
                            <p><i class="icon icon-text-hotspot sprite"></i>文本热点</p>
                            <div class="switch-wp"><div class="switch"></div></div>
                        </div>-->
                                
	            	</div>
	            	
	            </div>
	        </div>
	    </div>
	</div>
</div>

<!--商品详情标签轮播-->
<div class="shop-details-scroll">
	<div class="swiper-container" id="swiper-container">
        <div class="swiper-wrapper">
        </div>
    </div>
    <a class="close-btn">×</a>
</div>

<script src="../common/tour.js"></script>

<div id="pano" style="height:100%;">
	<noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
	<script>
		embedpano({swf:"tour.swf", xml:"msite.xml", target:"pano", html5:"auto", mobilescale:1.0, passQueryParameters:true});
	</script>
</div>

<script id='goods-list' type="text/html">
	<div class="swiper-wrapper">
	<% for(var i = 0;i < records.length;i++){%>
	<div class="swiper-slide" data-id="<%=records[i].no%>">
    	<div class="shop-img"><img class="pic" src="<%=records[i].preview_url %>" title="<%=records[i].name%>"></div>
    	<div class="shop-foot">
    		<div class="logo"></div>
    		<p class="shop-title ell"><%=records[i].name%></p>
    	</div>
    	
    </div>
    <% } %>
   </div>
</script>

<script id='swiper-slide-tem' type="text/html">
    	<div class="slide-content">
    		<div class="detail-img">
    			<img src="<%=data.record.preview_url %>"/>
    		</div>
    		
    		<div class="right-list">
				<div class="title" style="background-image: url(img/pingpai.png);">
					<h4 class="name"><%=data.record.name %></h4>
				</div>
				<table class="prop-table">
				    <tbody>
				        
				        <tr class="brandname">
				            <td class="name">品牌：</td>
				            <td class="value">
				                <p class="wrap">瑞宝壁纸</p>
				            </td>
				        </tr>
				    
				        <tr class="productnumber">
				            <td class="name">型号：</td>
				            <td class="value">
				                <p class="wrap">2200</p>
				            </td>
				        </tr>
				    
				        <!--<tr class="unitprice">
				            <td class="name">价格：</td>
				            <td class="value">
				                <p class="wrap">
				                    <em>¥ <span class="num">396.00</span></em> / 卷
				                </p>
				            </td>
				        </tr>-->
				    
				        <tr class="dimensions">
				            <td class="name">尺寸：</td>
				            <td class="value">
				                <p class="wrap">
				                    0.53*10.05
				                </p>
				            </td>
				        </tr>
				    
				        <tr class="customtexture">
				            <td class="name">材质：</td>
				            <td class="value">
				                <p class="wrap">
				                    纯纸
				                </p>
				            </td>
				        </tr>
				    
				        <tr class="description">
				            <td class="name">描述：</td>
				            <td class="value">
				                <p class="wrap">
				                    暂无
				                </p>
				            </td>
				        </tr>
				                    
				    </tbody>
				    
				</table>
				
			</div>
			<div class="foot">
                <p class="price fl"><em>¥ <span class="num">988.00</span></em> / 桶</p>
                <a class="btn btn-main btn-buy j-btn-buy" target="_blank" href="#">前往购买</a>
            </div>
    
    	</div>
</script>
<script src="../common/lib/template-native.js" type="text/javascript" charset="utf-8"></script>
<script data-main="js/msite/ms.js" src="../common/lib/require.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
