.left-top-area {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
    }
    .logos.kjl-logos {
        cursor: pointer;
    }
    .logos img {
        display: block;
    }
    .view-count {
        margin-left: 4px;
        font-size: 14px;
        text-shadow: 0 0 2px rgba(0,0,0,.25);
    }
    .view-count:before {
        content: "";
        display: inline-block;
        vertical-align: -2px;
        width: 12px;
        height: 16px;
        background: url(img/hot.png) no-repeat;
    }