.modal-slider-wrap{
    position: relative;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -230px;
    width: 1000px;
    height: 460px;
    padding: 40px 10px;
    background-color: #ffffff;
//  overflow: hidden;
    .modal-close {
        position: absolute;
        right: 17px;
        top: 5px;
        font-size: 22px;
        font-weight: 700;
        color: #999;
        font-family: \\5B8B\4F53;
    }
    .swiper-container{    
        width: 100%;
        height: 100%;
        color: #333;
    }
    .left-swiper{
        width: 480px;
        height: 100%;
//      background-color: green;
        float: left;
        img{width: 100%;height: 100%;}
    }
    .swiper-slide-body{
        margin:0 65px;
        height: 100%;
        overflow: hidden;
    }
    .right-list{
        width: 340px;
        height: 100%;
        float: left;
        padding-left: 30px;
        .title{
            height: 50px;
            line-height: 50px;
            margin-right: 15px;
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 70px;
            margin-bottom: 30px;
        }
        td {
            padding-bottom: 8px;
            font-size: 14px;
        }
        table .name {
            width: 57px;
            color: #999;
            vertical-align: top;
        }
        
        .wrap {
            float: left;
            position: relative;
            height: 100%;
            width: 100%;
            
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            max-height: 6em;
            overflow: hidden;
        }
        
    }
    .slider-arrow{
            position: absolute;
            top: 50%;
            margin-top: -30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 28px;
            line-height: 60px;
            text-align: center;
            background: #222;
            color: #fff;
    }
    .swiper-button-next{right: -30px;}
    .swiper-button-prev{left: -30px;}
    
    .swiper-slide.loading:after{
        content: "努力加载中...";
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin-left: -50px;
        margin-top: -15px;
        color: #f60;
        position: absolute;
        left: 50%;
        top: 50%;
    }
}